.cart img{
    width: 1em;
    height: 1em;
}
.women{
    height: 400px;
    width: 350px;
}
.forth-part img{
    width: 100px

}
.big-img img{
    width: 50%;
    height:50%;
   
}
.logo img{
    width: 100px;
}
footer{
    padding-top: 50px;
    text-align: center;
}

